AWS_REGION=us-east-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
NEXT_PUBLIC_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
DYNAMODB_USERS_TABLE=JiraClone-Users
DYNAMODB_TEAMS_TABLE=JiraClone-Teams
DYNAMODB_PROJECTS_TABLE=JiraClone-Projects
DYNAMODB_TASKS_TABLE=JiraClone-Tasks
DYNAMODB_COMMENTS_TABLE=JiraClone-Comments
DYNAMODB_AUDITLOGS_TABLE=JiraClone-AuditLogs
S3_UPLOADS_BUCKET=jiraclone-uploads-ACCOUNT_ID
S3_THUMBNAILS_BUCKET=jiraclone-thumbnails-ACCOUNT_ID
SNS_TASK_ASSIGNMENTS_TOPIC_ARN=arn:aws:sns:us-east-1:ACCOUNT_ID:task-assignments